<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> <meta charset="UTF-8" />
        <title>Add Album</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>

    <body>
        <h1>New album:</h1>
        <div class="container">
            <form th:action="@{/addalbum}" th:object="${albumform}" method="POST">
                <p>Title: <input type="text" th:field="*{title}" /> </p>
                <p>Author: <input type="text" th:field="*{author}" /> </p>
                <button type="submit">Add</button>
            </form>
        </div>
        <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;"></div>
    </body>